

<form asp-controller="Tag" asp-action="Add" class="form-inline w-100" enctype="multipart/form-data" method="get" role="form">
    <div class="form-group py-2">
        <input name="tagName" class="form-control mr-3" type="text" placeholder="Add a new tag" />
        <button type="submit" class="btn btn-success"><i class="fas fa-plus mr-2"></i><i class="fas fa-tag"></i></button>
    </div>
</form>