@using System.Security.Claims;
@model UselessCMS.Models.Accounts.AccountViewModel
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3>Account Management</h3>
        </div>
        <div class="card-body">

            <div class="col-12 btn-group">
                <a href="@Url.Action("Edit", "Account")" class="btn btn-info">Edit Account</a>
                @if (!User.IsInRole("Administrator"))
                {

                    <a href="#" class="btn btn-danger confirm-link" data-link="@Url.Action("DeleteAsync", "Account")">Delete Account</a>

                }
            </div>

        </div>
    </div>
</div>
